.game:hover img{
  cursor: pointer;
  outline: 3px solid rgb(117, 117, 191);
}

.game:hover p{
  display: block;
}

.game p{
  display: none;
    transition: display 2s;
}

.game{
  height: 500px;
}

/* Games */
#game_millionaire{
  height: 500px;
}

body{
  background-image: url('public/img/background-1.jpg');
}

#game_millionaire .button-section button{
  width: 90%;
  height: 120px
}